<!DOCTYPE html>
<html>
    <head>
        <title>Contacto</title>
        <link rel="shortcut icon" href="../imagenes/cine.png">
        <link rel="stylesheet" href="../estilos/style.css">

    </head>
    <body id="cuerpo">
        <header class="border">
            <h1>¡Contactanos!</h1>
            
                <a href="../index.html">
                    <img src="../imagenes/logo.jpg">
                </a>
            

        </header>
        <section id="peliculas" class="border"> 
            <h2>Formulario</h2> 
            <form action="">
                <fieldset>
                    <legend>Informacion personal</legend>
                    <input type="text" name="nombre" placeholder="Nombre"> <br>
                    <input type="text" name="apellido" placeholder="Apellido"> <br>
                    <input type="text" name="domicilio" placeholder="Domicilio"> <br>
                    <input type="email" name="correo" placeholder="Correo"> <br>
                    <label for="comentarios">Comentarios:</label> <br>
                    <textarea name="comentarios" cols="50" rows="15"></textarea>
                </fieldset>
                <h3>Sexo</h3> 
                <div>Hombre</div>
                <input type="radio" name="sexo" value="hombre" /> <br>
                <div>Mujer</div>
                <input type="radio" name="sexo" value="mujer" /> <br>
                <div>Otros</div>
                <input type="radio" name="sexo" value="nb" /> <br>


                <input type="submit" value="Enviar"> 
                


            </form>







        </section>
        <nav class="border menuFlex">
            <ul>

                <li><a href="../index.html">Inicio</a></li>
                <li><a href="Peliculas.html">Peliculas</a></li>
                <li><a href="Series.html">Series</a></li>
                <li><a href="Populares.html">Populares</a></li>
                <li><a href="Contacto.html">Contacto</a></li>

            </ul>

        </nav>

    
    <footer>Pie de pagina - &copy;2021 Todos los derechos reservados - Redes sociales <a href="https://facebook.com"><img src="../imagenes/facebook.png" alt=""> </a>
        <a href="https://instagram.com"><img src="../imagenes/instagram.png" alt=""> </a><a href="https://twitter.com"><img src="../imagenes/twitter.png" alt=""></a> -desarrollado por:Alexis
    </footer>


    </body>








</html>