<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PelisNET</title>
    <link rel="shortcut icon" href="../imagenes/cine.png">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../estilos/style.css">
</head>
<body id="cuerpo">
    <header class="border navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html"><h1>PelisNET</h1></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/peliculas.html">Peliculas</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/series.html">series</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/peliculas.html">Populares</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/peliculas.html">Contacto</a>
                  </li>
                  
                </ul>
                <form class="d-flex">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
    </header>
    <section id="peliculas" class="border">
            <h2>Peliculas</h2>
        <div>
            <a href="">
            <img src="../imagenes/encanto.jpg" class="img-fluid" alt="...">
        </a>
        <a href="">
            <img src="../imagenes/007.jpg" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/elescuadronsuicida2.jpg" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/godzillavskong.jpg" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/spiderman.jpg" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/spacejam2.jpg" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/eternalsmovie.jpg" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/spiderman2002.jfif" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/spiderman2004.jfif" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/spiderman2007.jfif" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/spidermanhomecoming.jfif" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/spidermanfarfromhome.jfif" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/matrix1.jfif" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/matrix2.jfif" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/matrix3.jfif" class="img-fluid" alt="">
        </a>
        <a href="">
            <img src="../imagenes/doctorstrange.jfif" class="img-fluid" alt="">
        </a>
        <a href="">
          <img src="../imagenes/shang-chi.jpg" class="img-fluid" alt="">
      </a>
      <a href="">
        <img src="../imagenes/elejercitodelosmuertos.jpg" class="img-fluid" alt="">
    </a>
    <a href="">
      <img src="../imagenes/freeguy.jpg" class="img-fluid" alt="">
  </a>
  <a href="">
    <img src="../imagenes/luca.jpg" class="img-fluid" alt="">
</a>
        <button type="button" class="mas btn btn-primary">Ver Mas</button>
        </div>
                
            
        
    </section>
    <nav class="border">
        <ul class="nav flex-column">
            <li class="nav-item border border-dark">
              <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
            </li>
            <li class="nav-item border border-dark">
              <a class="nav-link" href="../views/peliculas.html">Peliculas</a>
            </li>
            <li class="nav-item border border-dark">
              <a class="nav-link" href="../views/series.html">Series</a>
            </li>
            <li class="nav-item border border-dark">
                <a class="nav-link" href="../views/series.html">Populares</a>
            </li>
            <a class="nav-link border border-dark" href="../views/series.html">Contacto</a>
          </ul>
      </nav>
    
        <footer class="border">Pie de pagina - &copy;2021 Todos los derechos reservados - Redes sociales <a href="https://facebook.com"><img src="../imagenes/facebook.png" alt=""> </a>
            <a href="https://instagram.com"><img src="../imagenes/instagram.png" alt=""> </a><a href="https://twitter.com"><img src="../imagenes/twitter.png" alt=""></a> -desarrollado por:Alexis
        </footer>
</body>
</html>